.PhotoSelector{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70px;
    &-Button{
        border: solid 1px;
        display: flex;
        background-color: #FDFDFD;
        height: 20px;
        justify-content: center;
        align-items: center;

        &-Up{
            border-radius: 16px 16px 0px 0px;
            margin-bottom: 8px;
        }
        &-Down{
            border-radius: 0px 0px 16px 16px;
            margin-top: 8px;
        }
    }
    &-Images{
        display: flex;
        flex-direction: column;
        gap: 6px;
        &-Image{
            background-color: Red;
            height: 70px;
            width: 70px;
        }
    }
    &-DownButton{
        background-color: #FDFDFD;
        border-radius: 16px 16px 16px 16px;
        height: 20px;
    }
}