@import 'https://fonts.google.com/specimen/Zen+Kaku+Gothic+Antique';

$base-font-family: "ZenKakuGothicAntique", sans-serif;


@mixin ZenKakuGothicAntique-regular{
    font-family: $base-font-family;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
}

@mixin ZenKakuGothicAntique-12-regular{
    font-family: $base-font-family;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
}

@mixin ZenKakuGothicAntique-16-regular{
    font-family: $base-font-family;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
}

@mixin ZenKakuGothicAntique-24-regular{
    font-family: $base-font-family;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
}

@mixin ZenKakuGothicAntique-28-regular{
    font-family: $base-font-family;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
}

@mixin ZenKakuGothicAntique-40-regular{
    font-family: $base-font-family;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25;
}