@import './base/text.scss';

body {
  @include ZenKakuGothicAntique-regular;
  display: flow-root;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #696969;
}