.btn{
	background-color: #03dac6;
	border-color: #00a191;
	border-radius: 8px;
	height: 40px;
	text-align: center;
	padding: 8px 20px;
	border: 4px, 4px, 4px, 4px;
}

.btn:hover{
	background-color: #00ffe5;
	border-color: #00b4a2;
}