@import '../../../base/text.scss';

.CurrentPath{
    margin-top: 16px;
    @include ZenKakuGothicAntique-12-regular;
    margin-bottom: 32px;
}

.ItemPage{
    &-Container{
        display: flex;
        @media (max-width: 1024px) {
            flex-direction: column;
        }
        width: 100%;
        gap: 30px;
        &-LeftSide{
            display: inline-block;
            &-Images{
                display: flex;
                gap: 24px;
            }
        }
    }
}

.ThumbnailDiv{
    display: flex;
    background-color: aqua;
    width: 100%;
    &-Image{
        width: 100%;
        height: 100%;
    }
    
}

.Price{
    background-color: blueviolet;
    flex-grow: 1;
}