.PriceComponent{
    border: solid 0.5px;

    &-Category{
        display: flex;
        justify-content: flex-end;
        background-color: cyan;
    }
    &-Title{
        background-color: red;
    }
    &-Price{
        background-color: blue;
    }
    &-TypeSelector{
        background-color: green;
    }
    &-Buttons{
        background-color: yellow;
    }
}